$primary_color: #480ca8;
$primary_color_variant:#4cc9f0;
$secondary_color: #f72585;
$white_color: #fff;
$light_color:rgba($white_color, 0.7);
$black_color:#0c031b;
$dark_color:rgba($black_color, 0.7);
$success_color:#54eb72;
$container_lg: 82%;
$container_md: 90%;
